* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --background-dark-color: rgba(32, 32, 32, 0.967);
  --background-light-color: #f6f6f6;
}

body {
  font-size: 1.6rem;
  background-color: var(--background-dark-color);
  color: aliceblue;
  width: 100vw;
  height: 100vh;

  animation: backgroundAnim 6s ease-in-out infinite;
}

a {
  text-decoration: none;
  color: aliceblue;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 5rem;
  gap: 1rem;
}

.about {
  display: grid;
  place-content: center;

  background-repeat: repeat-x;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  font-size: 1.4rem;
  font-style: italic;
}

@keyframes backgroundAnim {
  0% {
    background: var(--background-dark-color);
  }

  50% {
    background: rgb(57, 57, 57) 50%;
  }

  100% {
    background: var(--background-dark-color);
  }
}
