* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --background-dark-color: rgba(17, 17, 17, 0.967);
  --background-light-color: #f6f6f6;
  --orange-color: #a14600;
  --gray-color: #4e4e4e;
  --gray-light-color: #b5b5b5;
  --white-color: #ffffff;
  --yellow-color: #fafc6b;
  --background-image: url('./assets/background-image-unsplash.jpg');
}

body {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;

  font-size: 1.6rem;
  font-family: 'Quicksand', sans-serif;
  color: aliceblue;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /*animation: backgroundAnim 6s ease-in-out infinite;*/
}

nav a {
  text-decoration: none;
  color: var(--background-dark-color);
  font-weight: 500;
}

nav a:hover {
  font-size: 1.8rem;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 5rem;
  width: 100vw;
  height: 5rem;
  gap: 1.4rem;
  background-color: var(--gray-light-color);
  opacity: 0.7;
}

.home {
  display: grid;
  place-content: center;
  border: solid var(--orange-color) 0.2rem;
  border-radius: 2rem;
  width: 30rem;
  height: 20rem;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.home-container img {
  width: 14rem;
  border-radius: 3rem;
  opacity: .8rem;
  border: solid var(--gray-color) 1px;
}

.home h1,
.home p {
  line-height: 5rem;
}

@keyframes backgroundAnim {
  0% {
    background: var(--background-dark-color);
  }

  50% {
    background: rgb(1, 80, 1) 50%;
  }

  100% {
    background: var(--background-dark-color);
  }
}
